@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode.ttf");
}

@font-face {
  font-family: "CascadiaCodeItalic";
  src: url("../fonts/CascadiaCodeItalic.ttf");
}

:root {
  --theme-text-color: #000;
}
:root[class="dark"] {
  --theme-text-color: #fff;
}

body {
  color: #000;
  font-family: "CascadiaCode";
}

.dark body {
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  margin: 0;
}

/* toggle theme style */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
